absl-py
annotated-types
anyio
asgiref
astunparse
beautifulsoup4
blinker
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
click
colorama
coloredlogs
comtypes
confection
cryptography
curated-tokenizers
curated-transformers
customtkinter
cycler
darkdetect
deep-translator
deepface
Django
dm-tree
docopt
emoji
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.7.3/en_core_web_trf-3.7.3-py3-none-any.whl
fastapi
filelock
fire
Flask
Flask-Cors
flatbuffers
fsspec
gast
gdown
gensim
google-auth
google-auth-oauthlib
google-pasta
googletrans
greenlet
gTTS
gunicorn
h11
h2
h5py
hpack
httpcore
httptools
httpx
huggingface-hub
humanfriendly
hyperframe
idna
imageio
importlib-resources
itsdangerous
Jinja2
joblib
Js2Py
keras-core
keras-nightly
langdetect
lazy_loader
libclang
lz4
marisa-trie
Markdown
markdown-it-py
MarkupSafe
mdurl
mpmath
mtcnn
mutagen
mysql-connector-python
namex
networkx
nltk
numpy
oauthlib
onnx
onnxruntime
opencv-contrib-python
opencv-python
opencv-python-headless
openvino
openvino-telemetry
opt_einsum
packaging
pandas
pathlib_abc
pathy
pillow
pipwin
playsound
preshed
psutil
pyasn1
pyasn1_modules
PyAudio
pycparser
pydantic
pydantic_core
pydub
pygame
Pygments
pyjsparser
PyMySQL
pypiwin32
PyPrind
PyQt6
PyQt6-Qt6
PyQt6_sip
pyreadline3
pySmartDL
PySocks
python-dateutil
python-dotenv
python-multipart
pyttsx3
pytz
pywin32
PyYAML
requests
requests-oauthlib
retina-face
rfc3986
rsa
safetensors
scikit-image
scikit-learn
scipy
seaborn
shellingham
simpleaudio
six
sniffio
sounddevice
soupsieve
spacy-curated-transformers
spacy-legacy
spacy-loggers
SpeechRecognition
SQLAlchemy
sqlparse
srsly
srt
starlette
sympy
tb-nightly
tensorboard-data-server
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
textblob
tf-keras
tf-nightly
threadpoolctl
tifffile
tokenizers
torch
torchaudio
torchvision
transformers
transliterate
typing_extensions
tzdata
tzlocal
urllib3
uvicorn
vosk
wasabi
watchfiles
websockets
zipp
